body
    @media screen and {
     max-width: 800px;
    }
    text-align: center;{

}

.name-of-my-web
{ 
  justify-content: space-between;
  padding: 10px ;
  margin-left: 500px;
  display: grid;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  
}

.somos-skymovies
{
  text-align: center;
}

.grid-container
{   
   display: grid;
   background-color:rgb(251, 253, 255);
   grid-template-columns: 10px auto 10px;
   border: 2px solid black;
   grid-template-columns: repeat(3, 1fr);}

.grid-container2 
{
 justify-content: space-between;
 display: grid;
 
 
 
 grid-template-columns: 15px auto 10px;
 text-align: center;
 margin-left: 24px;
 width: 890px;
}

 a:hover
{
color: #270ee6;
border-bottom: 3px solid #270ee6;

width: 200px;
padding: 2px;

}

         
         
header li {
          @media (min-width: 500px)  }
          div.example

          {
            font-size: 80px;
          }

       { list-style: none;
          display: inline-block;
          padding: 0 30px;
          background-color: rgb(10, 161, 255);
          font-family: 'Courier New', Courier, monospace;
          margin-left: 57px;
         }

h1
    {
     font-size: 40px;
     font-family: 'League Gothic', sans-serif;
     }
          
      section
     {
         background-color: rgb(177, 174, 174); 
      
      }

      .grid-container3  
      {
          display: grid;
          justify-content: center;
          margin-left: 100px;
          font-family: 'Gill Sans';
          

      }

      .grid.card
      {
          display: grid;
          justify-content: space-between;
          margin-left: 99%;
          display: flex;
          justify-content: space-around;
          padding: 1em 0;
          align-items: center;
          text-align: center;
      }

      .li1
      {
        
      }

  .container-footer
  {
   text-align: center;
   background-color: #002aff;


  }

  .somos-skymovies
  {
    font-family: 'Gill Sans';
  }

*images*

.img1
{
  margin-right: 50px;
}

.img2
{
 
}

* About us *

  .text1
  {
    text-align: center;
  }
  
  .li-container2
  {
    margin-left: 100px;
  }


  *movie*

  body

  
  {
    @media screen and {
     max-width: 800px;
    }
}

body

{
  justify-content: center;
  background-color: rgb(77, 75, 75);
}

.text1
{
  justify-content: center;
  margin-left: 70px;
}

.container
{
  background-color: rgb(127, 212, 255);
}