@import "./index.scss";
body
{
    background-color: rgb(249, 142, 1);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    
}


.infblog
{
    display: flex;
    
}
p
{
    background-color: aliceblue;

}


.container-footer
{
text-align: center;
background-color: #002aff;
}