
@import "header";
&__content
        { 
            justify-content: space-between;
            padding: 10px ;
            margin-left: 500px;
            display: grid;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }