@import "_movies.scss";

.body{ 
    @media only screen and (max-width: 600px) { 
    box-sizing: border-box;
    text-align: center;
    align-content: center; 
   }
  }



/* For mobile phones: */
[class*="col-"] {
width: 100%;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

.row::after {
content: "";
clear: both;
display: block;
}
 
    .video
    {
        height: 100px;
    }

    .container-footer
    {

        display: grid;
        text-align: center;
        background-color: #002aff;
    }
    .title-1
    {
      text-align: center;
      display: grid;
      background-color: orange;


    }
    .title-2{
      text-align: center;
      display: grid;
      background-color: orange;
      
    }
  
    .title-3{
      text-align: center;
      display: grid;
      background-color: orange;
    }

    .title-4{
      text-align: center;
      display: grid;
      margin-left: 0px;
      background-color: orange;
    }



    .container1 , .row
    {
        
        box-sizing: content-box;
        width: 70%;
        padding: 5px;
        margin-right: 9%;
        margin-left: 140px;
        text-align: center;
        
    }

    .img1
    {
      text-align: center;
    }


    .container2
    {  margin-left: 100px;
       justify-content: center;
       width: 80%; 
       text-align: center;
    }

    .container3
    {
      margin-left: 45px;
      justify-content: center;
      width: 80%;
      text-align: center;
      
    }
    
    .container4
    {
      
      text-align: center;
      margin-left: 30px;
      justify-content: center;
      width: 80%;
      
    }


    .community
    {
      margin-left: 0%;
    }

   
    @media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="col-"] {
width: 100%;
}
}

.container-footer
{
text-align: center;
background-color: #002aff;



}
